name: CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - python-version: '3.7'
            toxenv: py37
          - python-version: '3.8'
            toxenv: py38
          - python-version: '3.9'
            toxenv: py39
          - python-version: '3.10'
            toxenv: py310
          - python-version: '3.11'
            toxenv: py311
          - python-version: '3.12'
            toxenv: py312
          - python-version: '3.13'
            toxenv: py313
          - python-version: 'pypy-3.10'
            toxenv: pypy3
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install tox
        run: pip install tox
      - name: Tox
        run: tox
        env:
          TOXENV: ${{ matrix.toxenv }}
