name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - python-version: 2.7
            toxenv: py27
          - python-version: 3.5
            toxenv: py35
          - python-version: 3.6
            toxenv: py36
          - python-version: 3.7
            toxenv: py37
          - python-version: 3.8
            toxenv: py38
          - python-version: 3.9
            toxenv: py39
          - python-version: pypy-2.7
            toxenv: pypy
          - python-version: pypy-3.7
            toxenv: pypy3

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install tox
        run: pip install tox
      - name: Tox
        run: tox
        env:
          TOXENV: ${{ matrix.toxenv }}
